@import './main/reset.scss';
@import './main/common.scss';
@import './components/header.scss';
@import './components/category.scss';
@import './components/top.scss';
@import './components/values.scss';
@import './components/slider.scss';
@import './components/catalog.scss';
* {
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 255, 255);
}

.btn {
    margin: 50px;
    background: red;
    transition: background-color 0.4s ease 1s;
    &:hover {
        background-color: green;
    }
}

.box {
    margin: 50px;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
}

.inner {
    height: 25px;
    width: 25px;
    background-color: blue;
    &:hover {
        transform: translate(50px 50px);
    }
}