- 
  var items =[
    {
    img: './assets/imgs/catalog/item1.png',
    title: 'outdore',
    count: 30,
    mod_class: 'catalog-item--first'
    },
    {
    img: './assets/imgs/catalog/item2.png',
    title: 'outdore',
    count: 30
    },
    {
    img: './assets/imgs/catalog/item3.png',
    title: 'outdore',
    count: 30
    },
    {
    img: './assets/imgs/catalog/item4.png',
    title: 'outdore',
    count: 30
    },
    {
    img: './assets/imgs/catalog/item5.png',
    title: 'outdore',
    count: 30
    },
    {
    img: './assets/imgs/catalog/item6.png',
    title: 'outdore',
    count: 30
    },
    {
    img: './assets/imgs/catalog/item7.png',
    title: 'outdore',
    count: 30,
    mod_class: 'catalog-item--last'
    }
  
  ];