.contacts.container
  a(href="#") 
    img(src="./assets/imgs/header/email.svg", alt="mail").contacts__email
  a(href="mailto:Hello@colorlib.com").contacts__email Hello@colorlib.com
  p.contacts__text Free Shipping for all order of $99
  div.contacts__social
    a(href="#").contacts__social--style 
      img(src="./assets/imgs/header/facebook.svg", alt="facebook")
    a(href="#").contacts__social--style  
      img(src="./assets/imgs/header/wapp.png", alt="whatsapp")
    a(href="#").contacts__social--style  
      img(src="./assets/imgs/header/in.svg", alt="in")
    a(href="#").contacts__social--style 
      img(src="./assets/imgs/header/twitt.svg", alt="twitt")