header 
  .container.header__row
    .nav(id='nav')
      menu
        span.close X
        a(href="#") home
        a(href="#") home
        a(href="#") home
      spam.close(id='nav-close') X
    span.burger(id='nav-open') =