.menu.container.border
    a.menu__select(href="$") 
      img(src="./assets/imgs/menu.png", alt="select").menu__img
      p.menu__text Select Categories
    .menu__list
      a(href="#") HOME
      a(href="#") PRODUCT
      a(href="#") STORES
      a(href="#") CONTACT
    .menu__btn
        a.menu__btn--card(href="#")
          img(src="./assets/imgs/cart.png", alt="").menu__btn--img
          p.menu__btn--buy CART 2