.menu.container
    a.menu__select(href="#") 
      img(src="./assets/imgs/menu.png", alt="select").menu__img
      p.menu__text Select Categories
    .menu__list
      a(href="#") HOME
      a(href="#") PRODUCT
      a(href="#") STORES
      a(href="#") CONTACT
    .menu__btn
        a(href="#").menu__card
          img(src="./assets/imgs/cart.png", alt="").menu__card--img
          p.menu__card--buy CART 2