.profile.container
  a(href="#").profile__logo
    img(src="./assets/imgs/logo.jpg", alt="logo")
  .profile__place
    img(src="./assets/imgs/location.svg", alt="location")
    p.profile__city Gurugram
    img(src="./assets/imgs/galk.svg", alt="vote")
  form.profile__form.profile__form--placeholder
    input(type='image' src='./assets/imgs/search.png')
    input(type="search", placeholder="Search for products...").profile__form--placeholder
  .profile__name
      .profile__phone
        img(src="./assets/imgs/phone.svg", alt="phone")
        p.profile__number 1800-000-000
      .profile__love
        img(src="./assets/imgs/love3.svg", alt="love")
      .profile__person
        img(src="./assets/imgs/person.svg", alt="person")
        p.profile__person--name John Doe