

section.top-fruits.container
  h3.greentext For You
  h2.blacktext Top Featured Products
  .top-fruits__row
  +top-fruits-item(
      {
        img: './assets/imgs/categories/cat_apple.svg',
        text: 'Vegetables & Fruits'
      }
    )
  +top-fruits-item(
      {
        img: './assets/imgs/categories/cat_apple.svg',
        text: 'Vegetables & Fruits'
      }
    ) 