include ../mixins/top-fruits-item.pug

section.top-fruits.container
  h3.greentext For You
  h2.blacktext Top Featured Products
  .top-fruits__row
  +top-fruits-item(
      {
        img: './assets/imgs/top-fruits/apricot.jpg',
        text1: 'Available(in stock)',
        text2: 'Fresh organic apricot',
        text3: '$12'


      }
    )
  +top-fruits-item(
      {
        img: './assets/imgs/top-fruits/apricot.jpg',
        text1: 'Available(in stock)',
        text2: 'Fresh organic apricot',
        text3: '$12'


      }
    )
    +top-fruits-item(
      {
        img: './assets/imgs/top-fruits/apricot.jpg',
        text1: 'Available(in stock)',
        text2: 'Fresh organic apricot',
        text3: '$12'


      }
    )
    +top-fruits-item(
      {
        img: './assets/imgs/top-fruits/apricot.jpg',
        text1: 'Available(in stock)',
        text2: 'Fresh organic apricot',
        text3: '$12'


      }
    )