include ../mixins/values-item.pug


section.values.title.container
  h3.title__greentext Offers
  h2.title__blacktext Best Values
  .top__row
    +values-item(
      {
        text1: 'Daily Essentials',
        text2: '20% off Everyday'
      }
    )
    +values-item(
      {
        img:  './assets/imgs/values/get.jpg',
        text1: 'Daily Essentials',
        text2: '20% off Everyday'
      }
    )
    +values-item(
      {
        img:  './assets/imgs/values/special.jpg',
        text1: 'Daily Essentials',
        text2: '20% off Everyday'
      }
    )

    