mixin values-item(args={})
  div.values__item
      img(src=args.img, alt="values").values__img
      div.valuest__type
        div.values__text1=args.text1
        div.values__text2=args.text2
        button.byu='Shop Now'